@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="DoneActions" asp-route-erpUserName="@User.Identity.Name" asp-action="Index" class="nav-link text-dark" title="Manage">Usuário @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
            </form>
        </li>
    }
</ul>
