@model RLBW_ERP.Models.SalesModels.SoftwareParams

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Edit" class="myForm" method="post">
                <div class="modal-header">
                    <input type="hidden" asp-for="SubproductsListId" />
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h5>Parâmetros de @ViewBag.SubProductName:</h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="LicenseNetworkId" class="control-label"></label>
                        <select asp-for="LicenseNetworkId" class="form-control" asp-items="ViewBag.LicenseNetworkId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seats" class="control-label"></label>
                        <input asp-for="Seats" class="form-control" />
                        <span asp-validation-for="Seats" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LicenseTimeId" class="control-label"></label>
                        <select asp-for="LicenseTimeId" class="form-control" asp-items="ViewBag.LicenseTimeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeQuantity" class="control-label"></label>
                        <input asp-for="TimeQuantity" class="form-control" />
                        <span asp-validation-for="TimeQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cores" class="control-label"></label>
                        <input asp-for="Cores" class="form-control" />
                        <span asp-validation-for="Cores" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tasks" class="control-label"></label>
                        <input asp-for="Tasks" class="form-control" />
                        <span asp-validation-for="Tasks" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Workbenchs" class="control-label"></label>
                        <input asp-for="Workbenchs" class="form-control" />
                        <span asp-validation-for="Workbenchs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CommercialLicenseId" class="control-label"></label>
                        <select asp-for="CommercialLicenseId" class="form-control" asp-items="ViewBag.CommercialLicenseId"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                        <a class="btn btn-sm btn-outline-secondary ProposalProductDetails" data-bs-target="#modal" data-proposalProductId=@Model.SubproductsListId>Voltar</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
