@model IEnumerable<CRM_Sample.Models.ViewModels.DoneActionsViewModel>

@{
    ViewData["Title"] = "Ações executadas";
}
<h5>Ações executadas</h5>

<form asp-action="Index" method="get">
    <div class="form-actions no-color ">
        <div class="row align-content-start ">
            <div class="col">
                <label for="ErpUserId">Responsável</label>
                <select class="filterFields" id="ErpUserSelect" asp-items="@ViewBag.ErpUser">
                    <option selected value=0>Todos</option>
                </select>
            </div>
            <div class="col">
                <label for="actionStatus">Situação</label>
                <select class="filterFields" id="actionStatus">
                    <option selected value="Todas">Todas</option>
                    <option value="Hoje">Hoje</option>
                    <option value="Ontem">Ontem</option>
                    <option value="Última semana">Última semana</option>
                    <option value="Mais antiga">Mais antiga</option>
                </select>
            </div>
            <div class="col">
                <label for="actionStatus">Quantidade</label>
                <select class="filterFields" id="quantity">
                    <option selected value="Todas">Todas</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
            </div>
            <div class="col">
                <label for="actionStatus">De</label>
                <input class="filterFields" type="date" id="DateStart" />
            </div>
            <div class="col">
                <label for="actionStatus">Até</label>
                <input class="filterFields" type="date" id="DateEnd" />
            </div>
            <div class="col">
                <a class="btn btn-sm btn-outline-secondary" id="clearFilter">Limpar Filtros</a>
            </div>
        </div>
    </div>
</form>
<div id="actions-container">
    @await Html.PartialAsync("_DoneActionsPartialView.cshtml")
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var user = '@ViewBag.SelectedUser';
            RestoreDoneFilterFromStorage();
            $("#ErpUserSelect").val(user);
        });
        $(document).on('submit', '.myForm', function(e) {

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(html) {
                    window.location.reload(true);
                    DoneActionsFilter();
                },
                error: function(response) {
                    console.log('erro: ', response);
                }
            });
            e.preventDefault();
        });
        $(document).on('click', '.EditAction', function() {
            var opportunityAction = $(this).attr("data-opportunityAction");
            var url = '@ViewBag.Url' + '/OpportunityActions/Edit/' + opportunityAction;
            OpenModal(url, '#modal');
        });
        $(document).on('change', '.filterFields', function() {
            var erpUserId = $("#ErpUserSelect").val();
            var actionStatus = $('#actionStatus').val();
            var DateStart = $('#DateStart').val();
            var DateEnd = $('#DateEnd').val();
            var quantity = $('#quantity').val();
            SaveDoneFilterParams(erpUserId, actionStatus, quantity, DateStart, DateEnd);
            DoneActionsFilter();
        });
        $(document).on('change', '#actionStatus', function() {
            if ($('#actionStatus').val() === "Última semana") {
                var dateNow = new Date();
                var today = dateNow.getFullYear() + '-' + (("0" + (dateNow.getMonth() + 1)).slice(-2)) + '-' + (("0" + (dateNow.getDate())).slice(-2));
                var lastWeek = dateNow.getFullYear() + '-' + (("0" + (dateNow.getMonth() + 1)).slice(-2)) + '-' + (("0" + (dateNow.getDate() - 7)).slice(-2));

                $('#DateStart').val(lastWeek);
                $('#DateEnd').val(today);
                var erpUserId = $("#ErpUserSelect").val();
                var actionStatus = $('#actionStatus').val();
                var DateStart = $('#DateStart').val();
                var DateEnd = $('#DateEnd').val();
                var quantity = $('#quantity').val();

            } else {
                $('#DateStart').val("");
                $('#DateEnd').val("");
                var DateStart = $('#DateStart').val();
                var DateEnd = $('#DateEnd').val();
            };
            SaveDoneFilterParams(erpUserId, actionStatus, quantity, DateStart, DateEnd);
            DoneActionsFilter();
        })
        $(document).on('click', '#clearFilter', function() {
            $('#DateStart').val("");
            $('#DateEnd').val("");
            $("#ErpUserSelect").val(0);
            $("#quantity").val(50);
            $('#actionStatus').val("Todas")

            var erpUserId = $("#ErpUserSelect").val();
            var actionStatus = $('#actionStatus').val();
            var DateStart = $('#DateStart').val();
            var DateEnd = $('#DateEnd').val();

            SaveDoneFilterParams(erpUserId, actionStatus, null, DateStart, DateEnd);
            DoneActionsFilter();
        })
    </script>
}

