@model RLBW_ERP.Models.FinanceModels.CostCenter

<div class="container">
    <div class="modal-fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Create" class="myForm" method="post">
                    <div class="modal-header">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h5 class="modal-title">Nova Oportunidade para o cliente </h5>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <label asp-for="OpportunityId" class="control-label"></label>
                                    <input asp-for="OpportunityId" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Status" readonly /> @Html.DisplayNameFor(model => model.Status)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col">
                            <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>