@model RLBW_ERP.Models.FinanceModels.CostCenter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CostCenter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OpportunityId" class="control-label"></label>
                <select asp-for="OpportunityId" class="form-control" asp-items="ViewBag.OpportunityId"></select>
                <span asp-validation-for="OpportunityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
                @*           </div>
             <div class="form-group">
                <label asp-for="ResultValue" class="control-label"></label>
                <input asp-for="ResultValue" class="form-control" />
                <span asp-validation-for="ResultValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultPercentage" class="control-label"></label>
                <input asp-for="ResultPercentage" class="form-control" />
                <span asp-validation-for="ResultPercentage" class="text-danger"></span>
            </div>
 *@             <div class="form-group">
                          <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
</div>

