@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Insufficient user credentials to access this page.</p>
</header>
