@model RLBW_ERP.Models.FinanceModels.TransactionDistribution

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TransactionSubcategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CostCenterId" class="control-label"></label>
                <select asp-for="CostCenterId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CostCenterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionId" class="control-label"></label>
                <select asp-for="TransactionId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proportion" class="control-label"></label>
                <input asp-for="Proportion" class="form-control" />
                <span asp-validation-for="Proportion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
</div>

