@model RLBW_ERP.Models.SalesModels.SubproductsList

<div class="container" id="ModalContainer">
    <div class="modal-dialog">
        <div class="modal-content" id="modalForm">
            <form asp-action="Create" class="myForm" method="post">
                <div class="modal-header">
                    <input type="hidden" asp-for="ProposalProductId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h5>Inserir subproduto para @Model.ProposalProduct.Category.CategoryName @Model.ProposalProduct.Product.Name:</h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="SubproductId" class="control-label"></label>
                        <select asp-for="SubproductId" id="SubproductId" class="form-control" asp-items="ViewBag.SubproductId"></select>
                        <span asp-validation-for="SubproductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" id="Quantity" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BasePrice" class="control-label"></label>
                        <input asp-for="BasePrice" class="form-control" id="BasePrice" readonly />
                        <span asp-validation-for="BasePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Discount" class="control-label"></label>
                        <input asp-for="Discount" class="form-control" id="Discount" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                        <a class="btn btn-sm btn-outline-secondary ProposalProductDetails" data-bs-target="#modal" data-proposalProductId=@Model.ProposalProductId>Voltar</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
                <script type="text/javascript">
                    $('form#frmClient').removeData("validator");
                    $('form#frmClient').removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse($('form#frmClient'));
                </script>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

