@model RLBW_ERP.Models.FinanceModels.TransactionCategory

@{
    ViewData["Title"] = "Editar categoria";
}

<h4>Editar Categoria de transação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsExpense" type="checkbox" value="true" id="isExpense" checked>
                <label class="form-check-label" for="isExpense">Despesa</label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

