@model IEnumerable<RLBW_ERP.Models.ViewModels.MonthBalanceIndexViewModel>

@{
    ViewData["Title"] = "Balanços Mensais";
}

<h1>Balanços mensais</h1>
<div class="container-fluid">
    <form class="row gy-2 gx-3 align-items-center" method="post" enctype="multipart/form-data" asp-controller="Transactions" asp-action="UploadFile">
        <div class="col-auto">
            <div class="input-group mb-3">
                <input type="file" name="file" id="loadFile" class="form-control file-input">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Carregar arquivo</button>
            </div>
        </div>
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check isIncurredCheck" name="btnradio" id="btnradioForecast" autocomplete="off">
            <label class="btn " for="btnradioForecast">Previsto</label>

            <input type="radio" class="btn-check isIncurredCheck" name="btnradio" id="btnradioIncurred" autocomplete="off">
            <label class="btn " for="btnradioIncurred">Realizado</label>

            <input type="radio" class="btn-check isIncurredCheck" name="btnradio" id="btnradioAll" autocomplete="off">
            <label class="btn " for="btnradioAll">Tudo</label>
        </div>
    </form>
    <div>
    </div>
</div>

<div class="row">
    <canvas id="myChart" class="chart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/monthBalanceIndex.js"></script>
    <script type="text/javascript">
        var url = "/MonthBalances/GetIndexChartInfo";

        $(function () {
            $(document).ready(function () {
                GetIndexChartData(url);
            })
        })
    </script>
</div>


<table class="table" id="balances">
    <thead>
        <tr>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Year)/@Html.DisplayNameFor(model => model.Month)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.PreviousBalanceIncurred)
            </th>
            <th colspan="2">
                Receita Total
            </th>
            <th colspan="2">
                Despesa Total
            </th>
            <th colspan="2">
                Resultado
            </th>
            <th colspan="2">
                Saldo Acumulado
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                Previsto
            </th>
            <th>
                Realizado
            </th>
            <th>
                Previsto
            </th>
            <th>
                Realizado
            </th>
            <th>
                Previsto
            </th>
            <th>
                Realizado
            </th>
            <th>
                Previsto
            </th>
            <th>
                Realizado
            </th>
            <th></th>
        </tr>
    </thead>
        @{
            await Html.RenderPartialAsync("_BalancesTablePartial.cshtml");
        }
</table>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var id = (sessionStorage.balanceIndexFilterId == 'undefined' ? null : sessionStorage.balanceIndexFilterId);
            if (id == null) $('#btnradioAll').prop('checked', true);
            else $('#' + id).prop('checked', true);

        });
        $(document).on('change', '.isIncurredCheck', function () {
            var value = null;
            var id = $(this).attr('id');
            if (id == 'btnradioIncurred') value = true
            if (id == 'btnradioForecast') value = false
            var url = "/MonthBalances/FilteredIndex?isIncurred=" + value;
            if (id == 'btnradioAll') {
                url = "/MonthBalances/FilteredIndex";
            }
            sessionStorage.setItem('balanceIndexFilterId', id);
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {
                    $('#balances tbody').html(data);
                    console.log('success');
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    </script>
}
