@model RLBW_ERP.Models.ViewModels.CreateBudgetViewModel

<div class="container">
    <div class="modal-fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="BudgetBasedOnPreviousYear" class="myForm" method="post">
                    <div class="modal-header">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h5 class="modal-title">Cadastrar orçamento baseado no ano xxx</h5>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.YearReference)</span>
                                    <select class="form-control" asp-for="YearReference" asp-items="ViewBag.YearsAvailable">
                                        <option selected value=0>Selecione</option>
                                    </select>
                                    <span asp-validation-for="YearReference" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.YearToBudget)</span>
                                    <input asp-for="YearToBudget" class="form-control" min="@ViewBag.MinYear" />
                                    <span asp-validation-for="YearToBudget" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"> @Html.DisplayNameFor(modelItem => Model.AmountIncrease)</span>
                                    <input asp-for="AmountIncrease" class="form-control"  />
                                    <span asp-validation-for="AmountIncrease" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col">
                            <input type="submit" value="Salvar" class="btn btn-sm btn-outline-secondary" />
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
