@model RLBW_ERP.Models.SalesModels.LicenseNetworkType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LicenseNetworkType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LicenseNetworkTypeId">Edit</a> |
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Voltar para a lista</a>
</div>
